<!DOCTYPE html>

<html> 
<head>
  <meta charset="UTF-8">
  <title>OrderUp</title>

  {% load staticfiles %} 

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script type="text/javascript" src="{%static 'action.js' %}"></script>


</head>

<body>

<nav>
   <div class="nav-wrapper">
     <a href="{% url 'main' %}" class="brand-logo">&nbsp;OrderUp</a>
     <ul id="nav-mobile" class="right">
       <li><a href="{% url 'findmyOrder' %}">find my order</i></a></li>
     </ul>
   </div>
</nav>

<div class="row">
    <div class="col s12 m2 l2">
          <div class="row">
          </div>
        <div class="collection">
            <a href="#!" class="collection-item">Show All Resturants</a>
        </div>
         <p>by Category:</p>
         <div class="collection">
            <a href="#!" class="collection-item">American</a>
            <a href="#!" class="collection-item">Chinese</a>
            <a href="#!" class="collection-item">Korean</a>
            <a href="#!" class="collection-item">Mexico</a>
            <a href="#!" class="collection-item">Indian</a>
            <a href="#!" class="collection-item">Turkish</a>
            <a href="#!" class="collection-item">Janpanese</a>
         </div>
    </div>


<div class="col s12 m8 l8">
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card z-depth-1">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m3 l3 ">

            {% if resturant.image %}
            <img src="{% url 'get_photo' resturant.id %}" style="width:100%">
            {% endif %} 
             <img width="100%" height="100%">
           </div>
           <div class="col s8">
           <ul>
              <li><h>Congradulations ! Your order has been successfully placed.</h></li>
              <br>
              <li> <h>Here is your order number from {{order.resturant.name}}</h></li>
              <li><h4><a href="{% url 'myOrder' order.ordernumber%}">#{{order.ordernumber}}</h4></a><li>
              <br>
              <li>Note: Please present your order number when you pick up your order. See you soon</li>
            </ul>
           </div>
        </div>
       </div>

     </div>

   <div class="divier"></div>

  </div>
</div>
</div>

</div>


</div>

<footer class="page-footer">
         <div class="container">
           <div class="row">
             <div class="col l6 m6 s12">
               <h5 class="white-text">About us</h5>
               <p class="grey-text text-lighten-4"></p>
             </div>
             <div class="col m4 l4 offset-l2 s12">
               <h5 class="white-text"></h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="#!">Contact: 999-999-9999</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">Address: Carnegie Mellon university</a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2017 Copyright Text
           <a class="grey-text text-lighten-4 right" href="#!"></a>
           </div>
         </div>
</footer>


  
</body>
</html>
